<h1>Información de Profesor</h1>

<p>Profesores.</p>

<p *ngIf="!profesorList"><em>Loading...</em></p>

<p>
    <a [routerLink]="['/register-profesor']">Crear Nuevo</a>
</p>

<table class='table' *ngIf="profesorList">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ciudad</th>
            <th>Sexo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profesor of profesorList">
            <td>{{ profesor.profesorId }}</td>
            <td>{{ profesor.nombre }}</td>
            <td>{{ profesor.apellido }}</td>
            <td>{{ profesor.ciudad }}</td>
            <td>{{ profesor.sexo }}</td>
            <td>
            <td>
                <!--<a [routerLink]="['/profesor/edit/', profesor.profesorId]">Edit</a>-->
                <a [routerLink]="['/profesor/edit/', profesor.profesorId]" class="btn btn-warning" title="Edit">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a> |
                <!--<a [routerLink]="" (click)="delete(profesor.profesorId)">Delete</a>-->
                <a [routerLink]="" (click)="delete(profesor.profesorId)" class="btn btn-danger" title="Delete">
                    <i class="glyphicon glyphicon-minus"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>